.nav {
  height: 70px;
  background-color: #2f687e;
  justify-content: center;
  align-content: center;
}

.title {
  color: #fff;
  text-align: center;
}

.menu-icon {
  position: absolute;
  top: 20px;
  left: 20px;
  font-size: 2em;
}

.menu-container {
  width: 200px;
  height: 400px;
  background-color: #2f687e;
  border: solid black 2px;
  position: absolute;
  top: 70px;
  left: 0;
  z-index: 5;
}

.menu-anchor {
  text-decoration: none;
  color: white;
  display: block;
  margin: 15px;
  font-size: 1.5em;
}

.shade {
  position: absolute;
  top: 70px;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: black;
  opacity: 0.6;
  z-index: 4;
}

.home-button {
  background-color: #8972a1;
  color: white;
  width: 200px;
  height: 50px;
  margin: 30px 0;
  border-radius: 10px;
  font-size: 1.2em;
  padding-bottom: 5px;
}

.home-anchor {
  display: block;
  text-align: center;
}

.course-form {
  background-color: rgba(255, 255, 255, 0.6);
  margin-top: 15px;
  width: 220px;
  padding: 15px;
}

.course-form > label {
  display: block;
  margin-top: 15px;
}

.course-form > input {
  border: solid black 3px;
}

.course-form > button {
  display: block;
  margin-left: auto;
  margin-top: 15px;
}

.radio {
  margin-top: 15px;
}

.radio > label {
  margin-left: 3px;
}

.radio > input {
  margin-left: 10px;
}

#eighteen {
  margin-left: 20px;
}

.course-container,
.record-container {
  padding: 15px;
  width: 350px;
  background-color: rgba(255, 255, 255, 0.6);
}

.button-container {
  justify-content: space-evenly;
  flex-basis: 100%;
}

.button-container > button,
.course-button,
.back-button,
.graph-button,
.submit-button {
  width: 100px;
  height: 35px;
  background-color: #8972a1;
  color: white;
  border-radius: 5px;
}

.hole-row > input {
  width: 40px;
  height: 2em;
}

.hole-row {
  background-color: rgba(255, 255, 255, 0.6);
  padding: 10px;
  width: 300px;
}

.hole-row > p {
  margin-top: auto;
  margin-bottom: auto;
}

.hole-row > label {
  margin-top: auto;
  margin-bottom: auto;
}

.record-form,
.record-data {
  width: 320px;
}

.view-round-button {
  background-color: #8972a1;
  color: white;
  border-radius: 5px;
  height: 35px;
  position: relative;
  bottom: 40px;
  left: 190px;
}

.record-container {
  height: 150px;
}

.image {
  height: 100%;
  opacity: 0.8;
}

.image-container {
  height: 100%;
  position: fixed;
  top: 0;
  z-index: -3;
}

.graph-container {
  background-color: rgba(255, 255, 255, 0.6);
}
