.nav {
  height: 70px;
  background-color: #005723;
  justify-content: center;
  align-content: center;
}

.title {
  color: #ced05c;
  text-align: center;
}

.menu-icon {
  position: absolute;
  top: 20px;
  left: 20px;
  font-size: 2em;
}

.menu-container {
  width: 200px;
  height: 400px;
  background-color: #005723;
  border: solid black 2px;
  position: absolute;
  top: 70px;
  left: 0;
  z-index: 5;
}

.menu-anchor {
  text-decoration: none;
  color: white;
  display: block;
  margin: 15px;
  font-size: 1.5em;
}

.shade {
  position: absolute;
  top: 70px;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: black;
  opacity: 0.6;
  z-index: 4;
}

.home-button {
  background-color: #005723;
  color: white;
  width: 200px;
  height: 50px;
  margin: 30px 0;
  border-radius: 10px;
}

.home-anchor {
  display: block;
  text-align: center;
}

.course-form {
  border: solid black 3px;
  margin-top: 15px;
  width: 220px;
  padding: 15px;
}

.course-form > label {
  display: block;
  margin-top: 15px;
}

.course-form > input {
  border: solid black 3px;
}

.course-form > button {
  display: block;
  margin-left: auto;
  margin-top: 15px;
}

.radio {
  margin-top: 15px;
}

.radio > label {
  margin-left: 3px;
}

.radio > input {
  margin-left: 10px;
}

#eighteen {
  margin-left: 20px;
}

.course-container {
  border: solid black 3px;
  padding: 15px;
  width: 350px;
}

.button-container {
  justify-content: space-evenly;
  flex-basis: 100%;
}

.button-container > button {
  width: 100px;
  height: 35px;
  background-color: #005723;
  color: white;
  border-radius: 5px;
}

.hole-row > input {
  width: 40px;
  height: 2em;
}

.hole-row {
  background-color: rgb(194, 194, 194);
  padding: 10px;
  width: 300px;
}

.hole-row > p {
  margin-top: auto;
  margin-bottom: auto;
}

.hole-row > label {
  margin-top: auto;
  margin-bottom: auto;
}

.record-form {
  width: 320px;
  border: solid black 3px;
}
